<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>

    <!--Navbar top-->
    <div class="container">
        <div class="navbar-top">
            <div class="social-link">
                <i><img src="../../static/images/facebook-logo-24.png" alt="" width="30px"></i>
                <i><img src="../../static/images/instagram-logo-24.png" alt="" width="30px"></i>
                <i><img src="../../static/images/twitch-logo-24.png" alt="" width="30px"></i>
            </div>
            <div class="logo">
                <i><img src="../../static/images/logo.png" alt="" height="30px"></i>    
            </div>
            <div class="search">
                <i><img src="../../static/images/search-alt-2-regular-24.png" alt="" width="30px"></i>

                {% if current_user.is_authenticated %}
                    <i>
                        <a data-bs-toggle="modal" data-bs-target="#carrito">
                            <img src="../../static/images/shopping-bag-regular-24.png" alt="" width="30px">
                            <!--<span id="contador-carrito" class="contador">{{ session.get('total_items', 0) }}</span>-->
                        </a>
                    </i>
                    <i>
                        <a href="{{ url_for('usuario.logout') }}">
                            <img src="../../static/images/exit-regular-24.png" alt="" width="35px">
                        </a>
                    </i>
                    {% else %}
                    <i>
                        <a data-bs-toggle="modal" data-bs-target="#mi-modal">
                            <img src="../../static/images/user-plus-regular-24.png" alt="" width="35px">
                        </a>
                    </i>
                {% endif %}
            </div>
        </div>
    </div>
    <!--Navbar top-->

    <div class="main-content">
        <nav class="navbar navbar-expand-md" id="navbar-color">
            <div class="container">
          
            <!-- Toggler/collapsibe Button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span><i><img src="../../static/images/menu-regular-24.png" alt="" width="30px"></i></span>
                </button>
            
                <!-- Navbar links -->
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Shop</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Top Chair</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Chair</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Brands</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contac</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </div>
    

    <div class="registrar">
        <div class="r-1">
            <h1>Sé el primero</h1>
        </div>
        <div class="r-2">
            <p>Inscríbete para recibir correos electrónicos de Malcon, oficial de Nike en Colombia y ser el primero en ver contenido inspirador, noticias y ofertas exclusivas.</p>
        </div>
        <form action="{{ url_for('usuario.add') }}" method="post" enctype="multipart/form-data">
            <div class="m2 col-md-12 form-floating">
                <input type="text" class="form-control" id="floatinInputGrid" name="nombre" placeholder="Primer nombre" required>
                <label for="floatingInputGrid">Nombres</label>
            </div>
            <div class="m2 col-md-12 form-floating">
                <input type="text" class="form-control" id="floatinInputGrid" name="apellido" placeholder="Primer apellido" required>
                <label for="floatingInputGrid">Apellidos</label>
            </div>
            <div class="m2 col-md-12 form-floating">
                <input type="email" class="form-control" id="floatingInputGrid" name="correo_electronico" placeholder="name@example.com">
                <label for="floatingInputGrid">Correo electronico</label>
            </div>
            <div class="m2 col-md-12 form-floating">
                <input type="text" class="form-control" id="floatingInputGrid" name="telefono" placeholder="Telefono">
                <label for="floatingInputGrid">Telefono</label>
            </div>
            <div class="m2 col-md-12 form-floating">
                <input type="text" class="form-control" id="floatingInputGrid" name="departamento" placeholder="Departamento">
                <label for="floatingInputGrid">Departamento</label>
            </div>
            <div class="m2 col-md-12 form-floating">
                <input type="text" class="form-control" id="floatingInputGrid" name="ciudad" placeholder="Ciudad">
                <label for="floatingInputGrid">Ciudad</label>
            </div>
            <div class="m2 col-md-12 form-floating">
                <select class="form-select" id="floatingSelectGrid" name="genero" required>
                    <option selected>Opcion</option>
                    <option value="masculino">Masculino</option>
                    <option value="femenino">Femenino</option>
                    <option value="otro">Otro</option>
                </select>
                <label for="floatingSelectGrid">Seleccionar genero:</label>
            </div>
            <div class="m2 col-md-12 form-floating">
                <input type="date" class="form-control" id="floatingInputGrid" name="fecha_nacimiento" placeholder="Ciudad">
                <label for="floatingInputGrid">Cumpleaños</label>
            </div>
            <div class="m2 col-md-12 form-floating">
                <input type="password" class="form-control" id="floatingPassword" name="contrasena" placeholder="Contrasena">
                <label for="floatingPassword">Contrasena</label>
            </div>
            <div class="m2 col-12">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                    <label class="form-check-label" for="invalidCheck2">
                        Al hacer clic en continuar, acepto los <a href="">Términos y Condiciones</a> de Athletic Sport, y autorizo el tratamiento de mis datos personales de acuerdo con la <a href="">Política de Privacidad.</a>
                    </label>
                </div>  
            </div>
            <div class="m2 col-12">
            <button class="btn-1 btn-primary" type="submit">Registrarse</button>
            </div>
        </form>
    </div>
    
    <footer class="footer">
        <div class="footer-content container">

            <div class="link">
                <h3>Lorem</h3>
                <ul>
                    <li><a href="#">Lorem</a></li>
                    <li><a href="#">Lorem</a></li>
                    <li><a href="#">Lorem</a></li>
                    <li><a href="#">Lorem</a></li>
                </ul>
            </div>

            <div class="link">
                <h3>Lorem</h3>
                <ul>
                    <li><a href="#">Lorem</a></li>
                    <li><a href="#">Lorem</a></li>
                    <li><a href="#">Lorem</a></li>
                    <li><a href="#">Lorem</a></li>
                </ul>
            </div>

            <div class="link">
                <h3>Lorem</h3>
                <ul>
                    <li><a href="#">Lorem</a></li>
                    <li><a href="#">Lorem</a></li>
                    <li><a href="#">Lorem</a></li>
                    <li><a href="#">Lorem</a></li>
                </ul>
            </div>

            <div class="link">
                <h3>Lorem</h3>
                <ul>
                    <li><a href="#">Lorem</a></li>
                    <li><a href="#">Lorem</a></li>
                    <li><a href="#">Lorem</a></li>
                    <li><a href="#">Lorem</a></li>
                </ul>
            </div>  

        </div>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>