<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reestablecer contraseña</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>

    <!--Navbar top-->
    <div class="container">
        <div class="navbar-top">
            <div class="social-link">
                <i><img src="../../static/images/facebook-logo-24.png" alt="" width="30px"></i>
                <i><img src="../../static/images/instagram-logo-24.png" alt="" width="30px"></i>
                <i><img src="../../static/images/twitch-logo-24.png" alt="" width="30px"></i>
            </div>
            <div class="logo">
                <i><img src="../../static/images/logo.png" alt="" height="30px"></i>    
            </div>
            <div class="search">
                <i><img src="../../static/images/search-alt-2-regular-24.png" alt="" width="30px"></i>

                {% if current_user.is_authenticated %}
                    <i>
                        <a data-bs-toggle="modal" data-bs-target="#carrito">
                            <img src="../../static/images/shopping-bag-regular-24.png" alt="" width="30px">
                            <!--<span id="contador-carrito" class="contador">{{ session.get('total_items', 0) }}</span>-->
                        </a>
                    </i>
                    <i>
                        <a href="{{ url_for('usuario.logout') }}">
                            <img src="../../static/images/exit-regular-24.png" alt="" width="35px">
                        </a>
                    </i>
                    {% else %}
                    <i>
                        <a data-bs-toggle="modal" data-bs-target="#mi-modal">
                            <img src="../../static/images/user-plus-regular-24.png" alt="" width="35px">
                        </a>
                    </i>
                {% endif %}
            </div>
        </div>
    </div>
    <!--Navbar top-->

    <div class="main-content">
        <nav class="navbar navbar-expand-md" id="navbar-color">
            <div class="container" style="width: 100%; justify-content:center;">
            
                <div id="textCarousel" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="d-flex justify-content-center">
                            <h2 style="font-size: 18px; font-family:'Oswald', sans-serif; color:white">"Just Do It, porque cada desafío en la cancha es una oportunidad para superarte.".</h2>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="d-flex justify-content-center">
                            <h2 style="font-size: 18px; font-family:'Oswald', sans-serif; color:white">"Ganes o pierdas, cada punto en el tenis te hace un mejor jugador y te acerca a la excelencia."
                            </h2>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="d-flex justify-content-center">
                            <h2 style="font-size: 18px; font-family:'Oswald', sans-serif; color:white">"La grandeza en el tenis no se regala, se gana con esfuerzo, determinación y práctica constante."</h2>
                            </div>
                        </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </nav>

    </div>

    <div class="container">
    {% block content %}
        <div class="cambiar-contraseña">

            <div class="cambiar-contraseña-txt">
                <h2>Restablecer contraseña</h2>
                <p>Introduce una nueva contraseña para tu cuenta.</p>
            </div>

            <form method="POST" action="{{ url_for('usuario.reset_token', token=token) }}" enctype="multipart/form-data" class="cambiar-contraseña-content">
                {{ form.hidden_tag() }}

                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                
                <div class="m2 col-md-12 form-floating">
                    {{ form.contrasena(class="form-control", id="floatinInputGrid", placeholder="Nueva contraseña") }}
                    {{ form.contrasena.label(class="form-label", for="floatinInputGrid") }}
                    {% if form.contrasena.errors %}
                        <div class="text-danger">
                            {% for error in form.contrasena.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="m2 col-md-12 form-floating">
                    {{ form.confirmar_contrasena(class="form-control", id="floatinInputGrid", placeholder="Confirma tu nueva contraseña") }}
                    {{ form.confirmar_contrasena.label(class="form-label", for="floatinInputGrid") }}
                    {% if form.confirmar_contrasena.errors %}

                    <div class="text-danger">
                        {% for error in form.confirmar_contrasena.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <div class="cambiar-contraseña-button">
                    <button type="submit" class="btn btn-primary">Restablecer contraseña</button>
                </div>
            </form>
        </div>
        {% endblock %}
    </div>




    <!-- Script bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>