@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*
font-family: "Oswald", sans-serif;
font-family: "Poppins", sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #000000;
}

body a{
    text-decoration: none   ;
}

img {
    max-width: 100%;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
}

.flash-container {
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1050;
    width: 90%;
    max-width: 500px;
}

.registrar{
    text-align: center;
    max-width: 500px;
    margin:0 auto 80px auto;
}

.r-1 h1{
    font-size: 50px;
    line-height: 1;
    color:#111111;
    font-family: 'Oswald', sans-serif;
    margin: 40px 0 40px 0;
    text-align: center;
}

.r-2 p{
    text-align: center;
    color: #646464;
}

.m2 {
    margin: 20px 0 0 0;
    align-items: center;
}

.submenu {
    position: relative;
}

.submenu #carrito {
    display: none;
}

.submenu:hover #carrito {
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color: #ffffff;
    min-width: 500px;
    border-radius: 15px;
    max-height: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    overflow-y: auto;
}

table {
    width: 100%;
    text-align: center;
}

thead{
    position: sticky;
    z-index: 10;
    top: 0;
    background-color: #d6d4d4;
}

th {
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding: 20px 10px 20px 10px;
    text-transform: uppercase;
}

td {
    color: rgb(0, 0, 0);
    font-size: 17px;
    padding: 20px 10px;
    text-transform: capitalize;
}

td img {
    max-width: 120px;
}

tbody tr{
    cursor: pointer;
}

tbody tr:hover{
    background-color: rgba(196, 196, 196, 0.267);
    color: white;
}

.sticky-footer {
    padding: 15px;
    position: sticky;
    z-index: 10;
    bottom: 0;
    background-color: #ffffff;
}

.borrar {
    padding: 0 15px;
    font-weight: 800;
}

.btn-carrito {
    display: none;
    background-color: #2445ff;
    color: #ffffff;
    text-align: center;
    padding: 5px 20px;
    border-radius: 8px;
}

.carousel-item img{
    max-width: 80%;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    min-height: 90px;
    background-color: #000000;
    
}

.header-content {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
    text-align: center;
    flex: 1;
    padding: 50px 0 0 0;
}

.header-img {
    flex-basis: 50%;
    text-align: center;
}

.header-img img {
    width: 50%;
}

.header-txt {
    flex-basis: 50%;
    text-align: center;
} 

.header-txt h1 {
    font-size: 70px;
    text-transform: uppercase;
    line-height: 1;
    color:#ffffff;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 15px;
}

.header-txt{
    color: #ffffff;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.valido {
    text-transform: none;
    font-size: 13px;
    margin:0 0 0 0;
}

.modal-title{
    color: #000000;
}

.terminos{
    text-transform: none;
    font-size: 17px;
    text-align: justify;
    color: #000000;
}

.btn-1 {
    display: inline-block;
    padding: 8px 20px;
    background-color: #474747;
    color: white;
    border-radius: 5px;
    border: none;
}

.btn-1:hover{
    transform: scale(1.1);
    background-color: #c4c4c4;
    color: #000000;
}

.marcas {
    background-color: #eceaea;
}

.marcas-txt h2{
    padding: 0 0 15px 0;
    color: #111111;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    text-transform: uppercase;

}

.tendencia {
    padding: 60px  0;
}

.tendencia-txt {
    text-align: center;
}

.tendencia-txt h2{
    padding: 0 0 25px 0;
    color: #111111;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
}

.ofert {
    display: flex;
    justify-content: space-between;
}

.ofert-1 {
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-basis: calc(33.3% - 15px);
    background-color: #cccccc3a;
    padding: 30px  15px;
}

.ofert-1:hover {
    transform: scale(1.1);
    background-color: #02020269;
}

.ofert-img {
    flex-basis: 50%;
    margin-right: 15px;
}

.ofert-img img{
    width: 250px;
}

.ofert-img img:hover{
    transform: scale(1.1)
}

.ofert-txt {
    flex-basis: 60%;
    text-align: center;
}

.ofert-txt h3{
    color: #111111;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}

.ofert-txt p{
    margin: 0 0 15px 0;
    text-transform: capitalize;
}

.btn-2 {
    display: inline-block;
    padding: 7px 10px;
    background-color: #111111;
    color: #ffffff;
    border-radius: 5px;
    font-size: 15px;
}

.btn-2:hover {
    transform: scale(1.1);
}

.products-principal {
    background-color: #000000;
}

.products {
    padding: 60px 0 ;
    text-align: center;
}

.products h2{
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    padding: 0 0 50px 0;
}

.product-content {
    display: grid;
    grid-template-columns:  repeat(5, 1fr);
    gap: 20px;
}

.product {
    text-align: center;
    padding: 15px;
    border-radius: 8px;
    box-shadow:  0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #ffffffaf;
}

.product:hover {
    transform: scale(1.1);
}

.product img {
    width: 250px;
    height: auto;
    margin-bottom: 10px;
}

.product img:hover {
    transform: scale(1.1);
}

.product h3 {
    font-size: 17px;
    color: #111111;
    font-family:  'Oswald', sans-serif;
    text-transform: uppercase;
    margin-bottom: 0;
}

.product p, .precio {
    text-transform: capitalize;
    font-size: 15px;
        color: #111111;
        margin-bottom: 0;
}

.product-txt h3, .categoria, .precio {
    text-align: left;
}

.precio{
    font-weight: 800;
}

.cantidad {
    display: none;
    width: 80px;
}

.product-car {
    padding:  10px 0 0 0;
}

.btn-3 {
    display: block;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 35px;
    background-color: #474747;
    color: white;
    border-radius: 5px;
    border: none;
    cursor:pointer;
    padding: 5px 20px 0 20px;
}

.icons {
    padding: 50px 0 100px 0;
    display: flex;
    justify-content: space-between;
}

.icon-1 {
    flex-basis: calc(33.3% - 30px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    background-color: #f5f5f5;
}

.icon-txt h3 {
    font-size: 20px;
    color: #111111;
    font: 'Oswald0', sans-serif;
    text-transform: uppercase;
}

.icon-txt p {
    font-size: 16px;
    color: #111111;
}

.icon-img {
    padding: 0 17px 0 0 ;
}

.blog {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.blog-1 {
    flex-basis: calc(33.3% - 30px);
}

.blog-1 img {
    margin-bottom: 20px;
}

.blog-1 h3 {
    font-size: 20px;
    color: #111111;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.blog-1 p {
    font-size: 16px;
    color: #111111;
}

.footer {
    padding: 50px 0;
    background-color: #111111;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.link h3 {
    font-size: 18px;
     color: #ffffff;
     font-family: 'Oswald', sans-serif;
     text-transform: uppercase;
     margin-bottom: 20px;
}

.link a {
    font-size: 16px;
    color: #dcdcdc;
    display: block;
    margin-bottom: 10px;
}

@media (max-width:991px) {

    .sidebar{
        background-color: rgb(255, 255, 255, 0.15);
        backdrop-filter: blur(10px );
    }

    .registrar {
        padding: 0 40px;
    }

    .submenu img {
        display: none;
    }   

    .btn-carrito {
        display: block;
    }

    .header {
        padding:60px 30px 10px 30px;
    }

    .header-content {
        flex-direction: column;
    }

    .header-img {
        display: none;
    }

    .header-txt a {
        font-size: 15px;
        flex-basis: 100%;
        text-align: center;
    }

    .header-txt h1 {
        font-size: 40px;
    }

    .marcas {
        padding: 10px;
    }

    .marcas h2 {
        font-size: 30px;
    }
    
    .marcas p {
        font-size: 15px;
        flex-basis: 100%;
        text-align: center;
    }

    .tendencia {
        padding: 20px 0 20px 0;
    }

    .tendencia-txt h2{
        padding: 20px;
        font-size: 34px;
    }

    .ofert {
        padding:  0 30px;
        flex-direction: column;
    }

    .ofert-1 {
        margin-bottom: 20px;
        padding: 20px;  
    }

    .ofert-txt h3 {
        font-size: 20px;
    }

    .ofert-txt p {
        font-size: 15px;
    }

    .products {
        padding:40px 0 40px 0 ;
    }

    .products h2 {
        font-size: 34px;
    }

    .product-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }


    .product img {
        width: 120px;
        height: auto;
    }

    .icons {
        padding: 30px;
        flex-direction: column;
    }

    .icon-1 {
        margin-bottom: 30px;
    }

    .blog {
        padding: 0 50px 30px 30px;
        flex-direction: column;
    }

    .blog-1 {
        margin-bottom: 30px;
    }

    .footer {
        padding: 30px;
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
    }

}


@media (max-width:440px){

    .product-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

}

