@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
/*
font-family: "Oswald", sans-serif;
font-family: "Poppins", sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #000000;
}

body a{
    text-decoration: none ;
}

img {
    max-width: 100%;
}

/* navbar top */
.navbar-top {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.social-link i img {
    margin: 0 5px;
    transition: 0.5s ease;
    cursor: pointer;
}

.social-link i img:hover {
    background-color: rgb(218, 218, 218);
    border-radius: 50px;
}

@media (max-width:431px){

    .navbar-top {
        height: 8vh;
    }

    .logo {
        position: absolute;
    }

    .social-link i img {
        display: none;
    }

    .logo img{
        height: 22px;
    }

    .search i img {
        width: 27px;
        margin: 0 2px;
    }
}

.search i img {
    cursor: pointer;
    margin: 0 5px;
}

/* navbar top */


/* navbar */
#navbar-color {
    background-color: rgb(0, 0, 0);
}

.navbar-nav {
    margin: 0 auto;
}

.nav-item { 
    margin: 0 30px;
    font-weight: 700;
    cursor: pointer;
}

.nav-item a {
    color: rgb(250, 250, 250);
    transition: 0.5s ease;
}

.nav-item a:hover{
    color: rgb(33, 48, 255);
}
/* navbar */

.hr{
    background-color: #6b6b6b;
}

/* progreso de pago*/
.progreso-pago {
    padding: 20px 0 0 0;
    justify-content: center;
    display: flex;
}

.progreso-icons {
    text-align: center;
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 450px;
}

.progreso-text {
    opacity: 0.5;
}

.progreso-text img {
    width: 40px;
    padding: 8px;
    border-radius: 100%;
    border: 1px solid #7a7a7a;
}

.progreso-text p {
    font-size: 14px;
    font-weight: 400;
    margin-top: 3px;
}

.progreso-separador img{
    width: 40px;
    opacity: 0.2;
    padding-top: 25px;
}

.progreso-text.active {
    opacity: 1;
}

.progreso-text.active img{
    background-color: #000000;
    border: none;
}

.progreso-text.active p{
    font-weight: 600;
}

.progreso-separador.active img {
    opacity: 0.7;
}
/* progreso de pago*/


/*carrito de shopping bag*/
.carrito-shopping {
    display: flex;
    background-color: #f3f3f3;
}

.pago-carrito  {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    flex: 1;
    padding: 30px;
}

.pago-carrito-tabla {
    flex-basis: 65%;
    border-collapse: collapse;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    align-self: flex-start;
}

.tabla {
    width: 100%;    
    font-family: Arial, sans-serif;
}

.tabla thead th {
    color: rgb(0, 0, 0);
    padding: 10px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    font-family: 'Oswald', sans-serif;
}

.tabla tbody tr {
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s ease;
}

.tabla tbody td {
    text-transform: capitalize;
    padding: 10px;
}

.tenis {
    max-width: 80px;
}

.pago-carrito-peque単o {
    flex-basis: 100%;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    display: none;
}

.contenedor-pago {
    align-self: flex-start;
    flex-basis: 25%;
    padding: 25px;
    background-color: #ffffff;
    border-radius: 8px;
}

.check-pago {
    margin: 40px 0 0 0;
}

.btn-pagar {
    text-align: center;
    margin: 15px;
}

/*carrito de shopping bag*/


/*identificacion de compra*/

.identificacion {
    flex-basis: 60%;
}

/*paso 1 identificacion*/

.identificacion-1 {
    align-self: flex-start;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}

.titulo {
    display: flex;
    gap: 20px;
    padding: 5px 10px;
    font-family:"Oswald", sans-serif;
}

.titulo-numero-paso {
    text-align: center;
}

.titulo-numero-paso h5 {
    background-color: #000000;
    color: white;
    padding: 2px 11px;
    border-radius: 100%;
}

.datos {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}

.datos-txt {
    line-height: 1;
    font-size: 15px;
    margin-top: 10px;
    text-transform: capitalize;
}

/*paso 1 identificacion*/

/*paso 2 identificacion*/

.identificacion-2 {
    background-color: white;
    padding: 20px 20px 40px 20px;
    border-radius: 8px;
    margin-top: 20px;
}

.formulario-envio {
    padding: 0 30px;
}

.formulario-envio h5 {
    font-family: "Oswald",sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

.formulario-input {
    margin-top: 20px;
    font-size: 15px;
    color: #575757;
}

.formulario-input.check {
    display: flex;
    justify-content: space-between;
    border: 1px solid #d4d4d4;
    border-radius: 6px;
    padding: 10px;
}

.formulario-input.button {
    text-align: center;
}

.formulario-input a{
    color: white;
    text-decoration: none;
}

/* Datos de envio en vista */

.datos-1 {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    align-items: center;
}

.cambiar-datos-entrega {
    margin-top: 10  px;
    text-align: center  ;
    border: 1px dashed #9c9c9c;
    background-color: #eeeded;
    border-radius: 10px;
    padding: 6px;
    cursor: pointer;
}

.cambiar-datos-entrega a{
    color: #000000;
}

.cambiar-datos-entrega a:hover{
    color: #000000;
}


/* Datos de envio en vista */


/*paso 2 identificacion*/


/*identificacion de compra*/


/* Carrito peque単o proceso de pago */

.pago-carrito-progreso {
    flex-basis: 35%;
    background-color: white;
    padding: 20px;  
    border-radius: 8px;
    align-self: self-start;
    position: sticky;
    top: 30px;
    z-index: 100;
}

.carrito-progreso{
    display: flex;
    padding: 10px 10px 10px 0;
    border: 1px solid #d6d6d66c;
    border-radius: 8px;
    margin-bottom: 15px;
    align-items: center;
}

.carrito .precio {
    font-weight: 700;
}

.carrito-txt p{
    text-transform: capitalize;
    font-size: 14px;
    font-family: 'Oswald', sans-serif;
    padding-left: 10px;
    color: #5a5a5a;
}

.carrito-progreso img{
    max-width: 65px;
    margin: 0 10px 0 10px;
}

.comprar-ahora {
    display: flex;
    flex-direction: column;
    margin: 25px 0 10px 0;
    gap: 20px;
    text-align: center;
}

.comprar-ahora button {
    padding: 10px;
    border: none;
    border-radius: 7px;
    background-color: #000000;
    color: white;
    font-size: 16px;
}

.comprar-ahora button:hover{
    background-color: #474747;
}

.comprar-ahora span {
    color: #585858;
}

/* Carrito peque単o proceso de pago */



hr{
    background-color: #636363;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
}

.carrito{
    display: flex;
    padding: 10px 10px 10px 0;
    border: 1px solid #c7c7c76c;
    border-radius: 8px;
    margin-bottom: 15px;
    align-items: center;
}

.carrito-txt p, h3 {
    margin-bottom:0;
}

.carrito .precio {
    font-weight: 700;
}

.carrito-txt h3{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    font-family: 'Oswald', sans-serif;
}

.carrito img{
    max-width: 120px;
    margin: 0 5px 0 0;
}

.carrito-txt-delete {
    justify-content: space-between;
    display: flex;
    width: 100%;
}

.carrito-summary {
    display: column;
}

.summary-item {
    justify-content: space-between;
    display: flex;
}

.summary-item.subtotal {
    font-size: 14px;
    margin-bottom: 5px;
    color: #6b6b6b;
}

.summary-item.total {
    font-size: 17px;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
}


.flash-container {
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1050;
    width: 90%;
    max-width: 500px;
    animation: fadeOut 3s ease forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1; /* Comienza visible */
    }
    80% {
        opacity: 1; /* Mantiene visible durante el 80% del tiempo */
    }
    100% {
        opacity: 0; /* Se desvanece al final */
    }
}

.registrar{
    text-align: center;
    max-width: 500px;
    margin:0 auto 80px auto;
}

.r-1 h1{
    font-size: 50px;
    line-height: 1;
    color:#111111;
    font-family: 'Oswald', sans-serif;
    margin: 40px 0 40px 0;
    text-align: center;
}

.r-2 p{
    text-align: center;
    color: #646464;
}

.m2 {
    margin: 20px 0 0 0;
    align-items: center;
}

.carousel-item img{
    max-width: 80%;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    min-height: 90px;
    background-color: #000000;
    
}

.header-content {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
    text-align: center;
    flex: 1;
    padding: 0;
}

.header-img {
    flex-basis: 50%;
    text-align: center;
}

.header-img img {
    width: 50%;
}   

.header-txt {
    flex-basis: 50%;
    text-align: center;
} 

.header-txt h1 {
    font-size: 70px;
    text-transform: uppercase;
    line-height: 1;
    color:#ffffff;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 15px;
}

.header-txt{
    color: #ffffff;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.valido {
    text-transform: none;
    font-size: 13px;
    margin:0 0 0 0;
}

.modal-title{
    color: #000000;
}

.terminos{
    text-transform: none;
    font-size: 17px;
    text-align: justify;
    color: #000000;
}

.btn-1 {
    display: inline-block;
    padding: 8px 20px;
    background-color: #1b31f5;
    color: white;
    border-radius: 5px;
    border: none;
}

.btn-1:hover{
    transform: scale(1.1);
    background-color: #c4c4c4;
    color: #000000;
}

.marcas {
    background-color: #eceaea;
}

.marcas-txt h2{
    padding: 0 0 15px 0;
    color: #111111;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    text-transform: uppercase;

}



.galeria {
    display: flex;
    width: 500px;
    height: 500px;
    padding: 50px 0 0 0;
}

.galeria img {
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

.galeria img:hover {
    cursor: crosshair;
    width: 200px;
    opacity: 1;
    filter: contrast(120%);
}



.tendencia {
    padding: 60px  0;
}

.tendencia-txt {
    text-align: center;
}

.tendencia-txt h2{
    padding: 0 0 25px 0;
    color: #111111;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
}

.ofert {
    display: flex;
    justify-content: space-between;
}

.ofert-1 {
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-basis: calc(33.3% - 15px);
    background-color: #cccccc3a;
    padding: 30px  15px;
}

.ofert-1:hover {
    transform: scale(1.1);
    background-color: #02020269;
}

.ofert-img {
    flex-basis: 50%;
    margin-right: 15px;
}

.ofert-img img{
    width: 250px;
}

.ofert-img img:hover{
    transform: scale(1.1)
}

.ofert-txt {
    flex-basis: 60%;
    text-align: center;
}

.ofert-txt h3{
    color: #111111;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}

.ofert-txt p{
    margin: 0 0 15px 0;
    text-transform: capitalize;
}

.btn-2 {
    display: inline-block;
    padding: 7px 10px;
    background-color: #111111;
    color: #ffffff;
    border-radius: 5px;
    font-size: 15px;
}

.btn-2:hover {
    transform: scale(1.1);
}

.products-principal {
    background-color: #000000;
}

.products {
    padding: 60px 0 ;
    text-align: center;
}

.products h2{
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    padding: 0 0 50px 0;
}

.product-content {
    display: grid;
    grid-template-columns:  repeat(5, 1fr);
    gap: 15px;
}

.product {
    text-align: center;
    padding: 15px;
    border-radius: 8px;
    box-shadow:  0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #ffffffaf;
}

.product:hover {
    transform: scale(1.1);
}

.product img {
    width: 250px;
    height: auto;
    margin-bottom: 10px;
}

.product img:hover {
    transform: scale(1.1);
}

.product h3 {
    font-size: 17px;
    color: #111111;
    font-family:  'Oswald', sans-serif;
    text-transform: uppercase;
    margin-bottom: 0;
}

.product p, .precio {
    text-transform: capitalize;
    font-size: 15px;
    color: #111111;
    margin-bottom: 0;
}

.product-txt h3, .categoria, .precio {
    text-align: left;
}

.precio{
    font-weight: 800;
}

.cantidad {
    display: none;
    width: 80px;
}

.product-car {
    padding:  10px 0 0 0;
}

.btn-3 {
    display: block;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 35px;
    background-color: #474747;
    color: white;
    border-radius: 5px;
    border: none;
    cursor:pointer;
    padding: 5px 20px 0 20px;
}

.btn-3:hover{
    background-color: #194dfa ;
    transform: scale(1.1);
    transition: 0.30s ease;
}

.icons {
    padding: 50px 0 100px 0;
    display: flex;
    justify-content: space-between;
}

.icon-1 {
    flex-basis: calc(33.3% - 30px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    background-color: #f5f5f5;
}

.icon-txt h3 {
    font-size: 20px;
    color: #111111;
    font: 'Oswald0', sans-serif;
    text-transform: uppercase;
}

.icon-txt p {
    font-size: 16px;
    color: #111111;
}

.icon-img {
    padding: 0 17px 0 0 ;
}

.blog {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.blog-1 {
    flex-basis: calc(33.3% - 30px);
}

.blog-1 img {
    margin-bottom: 20px;
}

.blog-1 h3 {
    font-size: 20px;
    color: #111111;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.blog-1 p {
    font-size: 16px;
    color: #111111;
}

.footer {
    padding: 50px 0;
    background-color: #111111;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.link h3 {
    font-size: 18px;
     color: #ffffff;
     font-family: 'Oswald', sans-serif;
     text-transform: uppercase;
     margin-bottom: 20px;
}

/* Ver informacion del producto */

.container-title {
    padding: 30px;
    background-color: #eee;
    margin-bottom: 50px;
    color: #000000;
}

main{
    display: flex;
    gap: 30px;
    margin-bottom: 80px;
}



/* Ver informacion del producto */


@media (max-width:991px) {

    .progreso-pago {
        padding: 20px 20px 0 20px;
    }

    .progreso-text img {
        width: 35px;
        padding: 5px;
        border-radius: 100%;
        border: 1px solid #7a7a7a;
    }

    .progreso-separador img{
        width: 4    0px;
        opacity: 0.2;
        padding-top: 20 px;
    }

    .carrito-shopping {
        padding: 10px;
    }

    .pago-carrito {
        gap: 20px;
        padding: 20px;
        flex-direction: column;
    }


    .registrar {
        padding: 0 40px;
    }  

    .btn-carrito {
        display: block;
    }

    .header {
        padding:30px 30px 10px 30px;
    }

    .header-txt a {
        font-size: 15px;
        flex-basis: 100%;
        text-align: center;
    }

    .header-txt h1 {
        font-size: 40px;
    }

    .marcas {
        margin-bottom: 0;
    }

    .marcas h2 {
        font-size: 30px;
    }
    
    .marcas p {
        font-size: 15px;
        flex-basis: 100%;
        text-align: center;
    }

    .tendencia {
        padding: 20px 0 20px 0;
    }

    .tendencia-txt h2{
        padding: 20px;
        font-size: 34px;
    }

    .ofert {
        padding:  0 30px;
        flex-direction: column;
    }

    .ofert-1 {
        margin-bottom: 20px;
        padding: 20px;  
    }

    .ofert-txt h3 {
        font-size: 20px;
    }

    .ofert-txt p {
        font-size: 15px;
    }

    .products {
        padding:40px 0 40px 0 ;
    }

    .products h2 {
        font-size: 34px;
    }

    .product-content {
        display: grid;
        grid-template-columns:  repeat(4, 1fr);
        gap: 15px;
    }   


    .product img {
        width: 120px;
        height: auto;
    }

    .icons {
        padding: 30px;
        flex-direction: column;
    }

    .icon-1 {
        margin-bottom: 30px;
    }

    .blog {
        padding: 0 50px 30px 30px;
        flex-direction: column;
    }

    .blog-1 {
        margin-bottom: 30px;
    }

    .footer {
        padding: 30px;
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
    }

}


@media (max-width:767px) {

    .sidebar{
        background-color: rgb(255, 255, 255, 0.15);
        backdrop-filter: blur(10px );
    }

    .product-content {
        display: grid;
        grid-template-columns:  repeat(3, 1fr);
        gap: 15px;
    }   
}

@media (max-width:431px) {

    .identificacion-1 {
        padding: 15px;
    }

    .identificacion-2 {
        margin-top: 10px;
        padding: 15px 15px 35px 15px;
    }

    .formulario-envio {
        padding: 0 10px;
    }

    .pago-carrito-peque単o{
        display: block;
    }

    .progreso-pago {
        padding: 20px 10px 0 10px;
    }

    .progreso-text img {
        width: 35px;
        padding: 5px;
        border-radius: 100%;
        border: 1px solid #7a7a7a;
    }

    .progreso-text p {
        font-size: 12px;
    }

    .progreso-separador img{
        display: none;
    }

    .carrito-shopping {
        padding: 0;
    }

    .tenis {
        width: 40px;
    }

    .pago-carrito-tabla {
        display: none;
    }

    .pago-carrito {
        flex-direction: column;
        padding: 10px;
        gap: 20px;
    }

    .product-content {
        display: grid;
        grid-template-columns:  repeat(2, 1fr);
        gap: 15px;
    }  

    .header-content {
        flex-direction: column;
    }

    .header-img {
        display: none;
    }
}