<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Admin Dashboard | Korsat X Parmaga</title>
    
    <!-- ======= Styles ====== -->
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style_admin.css') }}">
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- =============== Navigation ================ -->
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="{{ url_for('admin.index') }}">
                        <span class="icon">
                            <ion-icon name="flash"></ion-icon>
                        </span>
                        <span class="title">STREET SNEAKERS</span>
                    </a>
                </li>

                <li>
                    <a href="{{ url_for('admin.index') }}">
                        <span class="icon">
                            <ion-icon name="home-outline"></ion-icon>
                        </span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>

                <li>
                    <a href="{{ url_for('admin.clientes') }}">
                        <span class="icon">
                            <ion-icon name="people-outline"></ion-icon>
                        </span>
                        <span class="title">Clientes</span>
                    </a>
                </li>

                <li>
                    <a href="{{ url_for('categoria.index') }}">
                        <span class="icon">
                            <ion-icon name="layers"></ion-icon>
                        </span>
                        <span class="title">Categorias</span>
                    </a>
                </li>

                <li>
                    <a href="{{ url_for('admin.tabla') }}">
                        <span class="icon">
                            <ion-icon name="cart-outline"></ion-icon>
                        </span>
                        <span class="title">Productos</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="settings-outline"></ion-icon>
                        </span>
                        <span class="title">Configuracion</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="lock-closed-outline"></ion-icon>
                        </span>
                        <span class="title">Password</span>
                    </a>
                </li>

                <li>
                    <a href="{{ url_for('usuario.logout') }}">
                        <span class="icon">
                            <ion-icon name="log-out-outline"></ion-icon>
                        </span>
                        <span class="title">Cerrar sesion</span>
                    </a>
                </li>
            </ul>
        </div>


        <!-- =============== Main Content ================ -->

        <div class="main">

            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>

                <div class="search">
                    <label>
                        <input type="text"id="searchInput" placeholder="Search here">
                        <ion-icon name="search-outline"></ion-icon>
                    </label>
                </div>

                <div class="user">
                    <img src="assets/imgs/customer01.jpg" alt="">
                </div>
            </div>

            <div class="details">
                <div class="recentOrders">
                    <div class="cardHeader">
                        <h2>Categorias</h2>
                        <a href="" class="btn">Total = {{ totalC }}</a>
                    </div>

                    <table>
                        <thead>
                            <tr>
                                <td>Categorias</td>
                                <td>Descripción</td>
                                <td>Productos asociados</td>
                                <td>Acciones</td>
                            </tr>
                        </thead>
                        <tbody id="productTable">
                            {% for categoria in dataC %}
                            <tr>
                                <td>{{ categoria.nombre }}</td>
                                <td>{{ categoria.descripcion }}</td>
                                <td><button type="button" class="btn-1" onclick="openCategoryProductsModal('{{ categoria.id }}')">Ver Productos</button></td>
                                <td>
                                    <div class="accion">
                                        <button type="button" class="btn-warning" onclick="openEditModalCategoria('{{ categoria.id }}', '{{ categoria.nombre }}', '{{ categoria.descripcion }}')">Editar</button>
                                        <button type="button" class="btn-danger" onclick="openDeleteModalCategoria('{{ categoria.id }}')">Eliminar</button>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <!-- ================= New Category ================ -->
                <div class="recentCustomers">
                    <div class="cardHeader">
                        <h2>Agregar categoria</h2>
                    </div>

                    <div class="">
                        <form class="add-producto" action="{{ url_for('categoria.add')}}" method="POST" enctype="multipart/form-data">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="text" id="nombre" name="nombre" required placeholder="Nombre">
                            <textarea id="descripcion" name="descripcion" placeholder="Descripción"></textarea>
                            <button class="btn-primary" type="submit">Guardar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
         
    </div>


    <!-- Modal para confirmación de eliminar categoría -->
    <div id="deleteModalCategoria" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeDeleteModalCategoria()">&times;</span>
            <h2>¿Estás seguro de que deseas eliminar esta categoría?</h2>
            <p>Esta acción no se puede deshacer.</p>
            <div class="accion-modal">
                <form id="deleteFormCategoria" action="" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <button type="submit" class="btn-danger">Eliminar</button>
                    <button type="button" class="btn-secondary" onclick="closeDeleteModalCategoria()">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
    <!-- Modal para confirmación de eliminar categoría -->



    <!-- Modal para confirmación de editar categoria -->
    <div id="editModalCategoria" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeEditModalCategoria()">&times;</span>
            <h2>Editar Categoría</h2>
            <form class="edit-producto" id="editFormCategoria" action="" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="text" id="edit_categoria_nombre" name="nombre" placeholder="Nombre" required>
                <textarea id="edit_categoria_descripcion" name="descripcion" placeholder="Descripcion" required></textarea>
                <div class="form-actions">
                    <button type="submit" class="btn-primary">Guardar cambios</button>
                    <button type="button" class="btn-secondary" onclick="closeEditModalCategoria()">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
    <!-- Modal para confirmación de editar categoria -->



    <!-- Modal para mostrar la imagen del producto-->
    <div id="imageModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <div class="subtitulo-modal" style="display: none;">
                <h3 id="modalProductName"></h3>
            </div>
            <div id="gallery" class="gallery">
                <img class="modal-content" id="modalImage">
            </div>
        </div>
    </div>
    <!-- Modal para mostrar la imagen del producto-->
     


    <!-- Modal para mostrar la tabla de productos asociados-->
    <div id="categoryProductsModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeCategoryProductsModal()">&times;</span>
            <h2>Productos Asociados a la Categoría</h2>
            <div class="details-2">
                <div class="recentOrders" id="modalBodyProductos">
                    <table id="productosTable">
                        <thead>
                            <tr>
                                <td>Nombre</td>
                                <td>Precio</td>
                                <td>Stock</td>
                                <td>Imagen</td>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Los productos se mostraran aca aquí -->
                        </tbody>
                    </table>
                </div>
            </div>
            <button type="button" class="btn-secondary" onclick="closeCategoryProductsModal()">Cerrar</button>
        </div>
    </div>
    <!-- Modal para mostrar la tabla de productos asociados-->




    <!-- =========== Scripts ========= -->
    <script src="{{ url_for('static', filename='js/search.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/modals.js') }}"></script>

</body>

</html>
